html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #323334;
	background-color: #fdfdfd;
	max-width: 800px;
	padding: 0 20px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

ul {
	list-style: none;
	padding-left: 0;
}


header h1 {
	text-align: center;
}

a {
	color: #323334;
}

#main {
	display: none;
}

#main #cuisine-list {
	height: 70px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

#main #cuisine-list li {
	display: inline-block;
	background-color: #eeeeee;
	border-radius: 5px;
	font-size: 1.1rem;
	padding: 7px 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#main #cuisine-list li a,
#main #cuisine-list li a:visited {
	text-decoration: none;
	color: #cecece;
}

#main #cuisine-list li a.set {
	color: #323334;
}

#main #eatery-list .eatery {
	display: block;
	border: 1px solid #cecece;
	border-radius: 5px;
	margin: 5px 0;
	clear: both;
}

#main #eatery-list .eatery .summary .label {
	font-size: 1.2rem;
	padding: 20px 10px;
}

#main #eatery-list .eatery .summary .closed {
	padding-left: 10px;
	color: red;
	font-size: 0.9rem;
}

#main #eatery-list .eatery .summary a {
	float: right;
	margin: 20px;
}

#main #eatery-list .eatery .summary svg {
	height: 25px;
	width: 25px;
}

#main #eatery-list .eatery .details {
	display: none;
	padding: 0 10px 20px 10px;
}

#main #eatery-list .eatery .details a {
	font-weight: 600;
	text-decoration: none;
}

#main #eatery-list .eatery .details .info-type {
	clear: both;
	margin: 15px 0;
}

#main #eatery-list .eatery .details .icon {
	float: left;
	margin: 2px 8px 0 0;
}

#main #eatery-list .eatery .details .icon svg {
	height: 18px;
	width: 18px;
	color: #323334;
}

#main #eatery-list .eatery .details .hours .title {
	color: #323334;
	font-weight: 500;
}

#main #eatery-list .eatery .details .hours ul {
	padding-left: 40px;
	clear: both;
}