<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Todos</title>
  <link rel="stylesheet" href="todos.css"/>
</head>

<body>

  <div id="eallaryapp">

    <header>
      <h1>Eallary</h1>
    </header>

    <section id="main">
      <ul id="eatery-list"></ul>
    </section>

    <footer>
      <div id="todo-count"></div>
    </footer>

  </div>
  <script src="./support/jquery.js"></script>
  <script src="./support/underscore.js"></script>
  <script src="./support/backbone.js"></script>
  <script src="./support/backbone.localStorage.js"></script>
  <script src="todos.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <label><%- name %></label>
    </div>
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>
